<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="app.js" defer></script>

<div id="app">
  
  <div style="text-align: center;">
    <div>
      <label for="goal" style="font-size: 2rem;">Goals</label><br>
      <input type="text" id="goal" ref="enteredValue" v-model="enteredGoal">
      <button @click="addGoal">Add Goal</button>
    </div>
  
    <div v-for="goal in goals">
      <goal-item :goal="goal"></goal-item>
    </div>
  </div>

 <div style="color: red;">
    <testcomp></testcomp>
 </div>

</div>



</body>
</html>